
/* all input, under each date  */
.input {
	text-align: right;
}
/* title in paragraph; within input */
.title {
	font-weight: bold;
}
/* text in paragraph, under title; within input */
.subtitle {
	color: dimgray;
}

/* Non-mobile, grid */
  @media only screen and (min-width: 640px) {
	/* all input, under each date  */
	.input {
		text-align: left;
	}
  }